{
  "swagger": "2.0",
  "info": {
    "description": "This is me playing with swagger docs",
    "version": "1.0.7",
    "title": "Swagger Test",
    "termsOfService": "http://swagger.io/terms/",
    "contact": { "email": "apiteam@swagger.io" },
    "license": { "name": "Apache 2.0", "url": "http://www.apache.org/licenses/LICENSE-2.0.html" }
  },
  "host": "chriswf.website.io",
  "basePath": "/v2",
  "tags": [
    { "name": "first", "description": "Description text by chriswf", "externalDocs": { "description": "Clicky clicky dis link", "url": "https://www.google.com" } },
    { "name": "second", "description": "Stuff for the 2nd tag" },
    { "name": "third", "description": "Operations about 3rd tag", "externalDocs": { "description": "Find out more about our store", "url": "http://swagger.io" } }
  ],
  "schemes": ["https", "http"],
  "paths": {
    "/first": {
        "get": {
            "tags": ["first"],
            "summary": "Get all first",
            "description": "Get all first",
            "operationId": "getAllFirst",
            "produces": ["application/json"],
            "responses": {
                "200": {
                    "description": "successful operation",
                    "schema": {
                        "type": "array",
                        "items": {
                            "$ref": "#/definitions/Pet"
                        }
                    }
                },
                "400": {
                    "description": "Invalid status value"
                }
            }
        }
    },
    "/first/{id}/uploadImage": {
      "post": {
        "tags": ["first"],
        "summary": "uploads an image",
        "description": "",
        "operationId": "uploadFile",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [
          { "name": "petId", "in": "path", "description": "ID of pet to update", "required": true, "type": "integer", "format": "int64" },
          { "name": "additionalMetadata", "in": "formData", "description": "Additional data to pass to server", "required": false, "type": "string" },
          { "name": "file", "in": "formData", "description": "file to upload", "required": false, "type": "file" }
        ],
        "responses": { "200": { "description": "successful operation", "schema": { "$ref": "#/definitions/ApiResponse" } } },
        "security": [{ "petstore_auth": ["write:pets", "read:pets"] }]
      }
    }
  },
  "securityDefinitions": { "api_key": { "type": "apiKey", "name": "api_key", "in": "header" }, "petstore_auth": { "type": "oauth2", "authorizationUrl": "https://petstore.swagger.io/oauth/authorize", "flow": "implicit", "scopes": { "read:pets": "read your pets", "write:pets": "modify pets in your account" } } },
  "definitions": {
    "ApiResponse": { "type": "object", "properties": { "code": { "type": "integer", "format": "int32" }, "type": { "type": "string" }, "message": { "type": "string" } } },
    "Category": { "type": "object", "properties": { "id": { "type": "integer", "format": "int64" }, "name": { "type": "string" } }, "xml": { "name": "Category" } },
    "Pet": {
      "type": "object",
      "required": ["name", "photoUrls"],
      "properties": {
        "id": { "type": "integer", "format": "int64" },
        "category": { "$ref": "#/definitions/Category" },
        "name": { "type": "string", "example": "doggie" },
        "photoUrls": { "type": "array", "xml": { "wrapped": true }, "items": { "type": "string", "xml": { "name": "photoUrl" } } },
        "tags": { "type": "array", "xml": { "wrapped": true }, "items": { "xml": { "name": "tag" }, "$ref": "#/definitions/Tag" } },
        "status": { "type": "string", "description": "pet status in the store", "enum": ["available", "pending", "sold"] }
      },
      "xml": { "name": "Pet" }
    },
    "Tag": { "type": "object", "properties": { "id": { "type": "integer", "format": "int64" }, "name": { "type": "string" } }, "xml": { "name": "Tag" } },
    "Order": {
      "type": "object",
      "properties": { "id": { "type": "integer", "format": "int64" }, "petId": { "type": "integer", "format": "int64" }, "quantity": { "type": "integer", "format": "int32" }, "shipDate": { "type": "string", "format": "date-time" }, "status": { "type": "string", "description": "Order Status", "enum": ["placed", "approved", "delivered"] }, "complete": { "type": "boolean" } },
      "xml": { "name": "Order" }
    },
    "User": {
      "type": "object",
      "properties": { "id": { "type": "integer", "format": "int64" }, "username": { "type": "string" }, "firstName": { "type": "string" }, "lastName": { "type": "string" }, "email": { "type": "string" }, "password": { "type": "string" }, "phone": { "type": "string" }, "userStatus": { "type": "integer", "format": "int32", "description": "User Status" } },
      "xml": { "name": "User" }
    }
  },
  "externalDocs": { "description": "Find out more about Swagger", "url": "http://swagger.io" }
}
